<nz-layout>
  <nz-layout class="inner-layout">
    <div class="inner-content">
      <h1>Welcome to the OnlineIDE</h1>
      <p>A project for Advanced Topics of Software Engineering (TUM)</p>
      <a href="http://localhost/login">
        <button *ngIf="!(authService.isAuthenticated$ | async)" nz-button nzDanger="primary"
                (click)="login()">
          Login with GitLab LRZ
        </button>
      </a>
      <button *ngIf="authService.isAuthenticated$ | async" nz-button nzDanger="primary"
              (click)="authService.logout()">
        Logout
      </button>
    </div>
  </nz-layout>
</nz-layout>
