<nz-layout>
  <nz-layout class="inner-layout">
    <div class="inner-content">
      <h1>Welcome to the OnlineIDE</h1>
      <p>A project for Advanced Topics of Software Engineering (TUM)</p>
      <button *ngIf="!(authService.isAuthenticated$ | async)" nz-button nzDanger="primary"
              (click)="login()">
        Login with GitLab LRZ
      </button>
      <ng-container *ngIf="authService.isAuthenticated$ | async">
        <button nz-button nzDanger="primary"
                (click)="authService.logout()">
          Logout
        </button>
        <button nz-button nzDanger="primary"
                (click)="toProjects()">
          To Projects
        </button>
      </ng-container>
    </div>
  </nz-layout>
</nz-layout>
