<nz-layout>
  <nz-layout class="inner-layout">
    <div class="inner-content">
      <i nz-icon nzType="logout"
         (click)="authService.logout()"
      ></i>
      <h1>Project Management</h1>
      <button
        nz-button
        nzDanger="primary"
        (click)="addProject()"
      >
        Add Project
      </button>

      <nz-modal [(nzVisible)]="isVisible" nzTitle="Rename" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
        <ng-container *nzModalContent>
          <input nz-input [placeholder]="currentProject.name" [(ngModel)]="currentProject.name"/>
        </ng-container>
      </nz-modal>

      <nz-table
        #basicTable
        [nzData]="projectService.allProjects$ | async"
        [nzPageSize]=8
      >
        <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{data.id}}</td>
          <td>
            <span>{{data.name}} </span>
            <i nz-icon nzType="edit"
               (click)="showModalForProject(data)"
            ></i>
          </td>
          <td>
            <a (click)="openProject(data.id)">Open</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="deleteProject(data.id)">Delete</a>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </nz-layout>
</nz-layout>
